header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 8px 0px #EAEAEA;
  background-color: #FFFFFF;
}

header .back-btn,
header .nav-btn-right,
header .nav-btn-left,
header .search-btn,
header .right-menu-btn {
  border: none;
  background: none;
  cursor: pointer;
}

header .header-center {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

header .back-btn,
header .right-menu-btn,
header .page-count {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

header .right-menu-btn {
  padding-left: 20px;
}

.page-number, .page-count {
  background-color: #e8eff5;
  padding: 10px;
  border-radius: 8px;
  width: 50px;
  text-align: center;
  border: none;
  margin : 10px;
  font-weight: 500;
  font-size: 20px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main {
  display: flex;
  margin-top: 60px;
  padding: 20px;
  width: 100%;
}

main .left-menu-btn {
  background: none;
  border: 1px solid #194062;
  width: 38px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}

main .left-menu-btn:hover {
  background-color: #bdbdbd;
  border-bottom: 3px solid #2c6da4;
  transition: all 0.3s ease;
}

main .left-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  transition: all 0.3 ease;

}

main .left-side-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

main .search-input {
  display: none;
}

main .chapter-container {
  width: 20vw;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  height: calc(100vh - 140px);
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #fefefe;
  display: none;
}

main .chapter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
  color: #555;
  font-size: 15px;
}

main .chapter-item.selected {
  background-color: #e8eff5;
  border-left: 4px solid #1F507A;
  border-right: 4px solid #1F507A;
  color: #1F507A;
}

main .chapter-item:last-child {
  border-bottom: none;
}

main .content {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: -13px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px #DADADA;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  padding: 20px
}

main .right-sidebar {
  background-color: #FFF;
  box-shadow: 0px 0px 8px 0px #DADADA;
  border-radius: 8px;
  display: none;
}

main .right-sidebar .right-side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
}

main .close-right-sidebar {
  padding: 10px;
  cursor: pointer;
}

.tab-container {
  position: relative;
  display: flex;
  border-bottom: 2px solid #ddd;
  width: fit-content;
  margin: 10px;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: color 0.3s;
}

.tab:hover,
.tab.active {
  color: #2C6DA4;
}



.tab-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #2C6DA4;
  transition: all 0.3s ease;
}

.tools {
  display: flex;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.tools button {
  display: flex;
  background-color: white;
  align-items: center;
  gap: 8px;
  border: 1px solid #757575;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #101010;
  transition: all 0.3s ease;
}

.tools button:hover {
  border-color: #2C6DA4;
  color: #2C6DA4;
}

.tools button svg path {
  fill: currentColor;
}

/* Active button style */
.tools button.active {
  color: #2C6DA4;
  border-color: #2C6DA4;
}

.color-wheel {
  margin-top: 10px;
  padding: 10px;
}

.color-wheel canvas {
  margin-left: 55px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 4px;
  border-radius: 4px;
  outline: none;
  margin-left: 30px;
  margin-top: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  cursor: pointer;

}


/* تعديلات آيه */
.tab-content {
  display: none;
}

.entries select {
  background-color: #EAEAEA;
  border-radius: 8px;
  width: 43px;
  height: 31px;
  padding: 3px;
}

.annotation-section {
  display: none;
}

.recommendation-section {
  display: none;
  margin-top: 8px;
}

.entries {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
  font-size: 14px;
}

.box-videos {
  width: 300px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 22px;
  border: 1px solid;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box-images {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border-color: #757575;
  border: 1px solid;
  margin-left: 32px;
  margin-bottom: 24px;
  justify-content: space-between;
}

.box-link {
  margin-top: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.link {
  border-radius: 16px;
  border-left: 3px solid #2C6DA4;
  padding: 16px;
  box-shadow: 0px 0px 8px #EAEAEA;
  background-color: #FDFDFD;
  margin-bottom: 16px;
}

.My-Bookmarks {
  margin-top: 24px;
  padding-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  display: flex;
  font-size: 19px;
}

.add,
.add img {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  margin-left: 75px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chaptermarks {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 8px;
}

.chapter {
  width: 300px;
  height: 56px;
  border-radius: 16px;
  border-left: 3px solid #2C6DA4;
  padding: 16px;
  gap: 4px;
  box-shadow: 0px 0px 8px #EAEAEA;
  background-color: #FDFDFD;
  margin-bottom: 16px;
}

.tools-highlight {
  margin-top: 32px;
  margin-bottom: 37.66px;
}

.p1 {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 32px;
  margin-bottom: 24px;
  color: #2C6DA4;
  font-size: 18px;
}

.p2 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #757575;
  font-size: 14px;
}

.color-palette {
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 8px;
}

.color {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.color:hover {
  border: 2px solid #eff1f3;
}

.note {
  width: 300px;
  height: 90px;
  border-radius: 16px;
  border-left: 3px solid #6CB3F0;
  padding: 16px;
  background-color: #FDFDFD;
  box-shadow: 0px 0px 8px #EAEAEA;
  margin-left: 40px;
  margin-bottom: 16px;
}

.p4 {
  color: #757575;
  font-size: 14px;
  margin-bottom: 16px;
}