.search-bar-container {
    padding: 40px;
    background-color: #fff;
}
.inpt1 {
    width: 1220px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
}
form{
position: relative;
}
.btn-ser{
    position: absolute;
    top: 12px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #757575;
    background-color:#ffffff;
    font-size: 16px;
}
.show-container {
    display: flex; 
    padding: 10px 16px;
    margin-top:20px;
    
}
.show-select {
    display: flex;
    align-items: center;
    gap: 12px;

}
.show-select select {
    width: 43px;
    height: 31px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #E0E0E0;  
}

.id-ser {
    display: flex;
    gap: 20px; 
}

.search-filter {
    position: relative;
    width: 227.5px;
    height: 32px;  
    margin-left: 24px;
}

.search-filter input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-filter i {
    position: absolute;
    left: 8px;
    top: 20px;
    transform: translateY(-50%);
    color: #757575;
}
.btn-ser2{
    position: absolute;
    top: 12px;
   right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    color: #757575;
    background-color:#ffffff;
    font-size: 16px;
}
.cont-upload{
    display: flex;
    gap: 8px;
    float: left;
}
.add-file{
    width: 112px;
    height: 32px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
   background-color: #28A745;
   padding: 8px 12px 8px 12px;
   display: inline-flex;
   align-items: center;
   gap: 8px;
   font-size: 12px;
   line-height: 14.06px;
   font-weight: 700px;
   cursor: pointer;
}
.cou-title{
    height: 31px;
    border-radius: 8px;
    border:1px solid #757575 ;
    padding: 8px 9px 8px 9px;
    gap: 8px;
    color:#757575;
    font-size: 12px;
}

.table-container {
    background-color: #ffff;
    border-radius: 5px;  
    width: 100%; 
    height:470px; 
    margin: auto;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #ffff;
    font-weight: bold;
    color: #2C6DA4;
    
}
table tbody tr:nth-child(even) {
    background-color: #ffff; /* لون أزرق فاتح للصفوف الزوجية */

}

table tbody tr:nth-child(odd) {
    background-color: #E8EFF5; /* لون أبيض للصفوف الفردية */
    
}


.action-icons {
    display: flex;
    gap: 8px;
   
}

.edit-icon {
    color: #4caf50;
    cursor: pointer;
    font-size: 25px;
}

.delete-icon {
    color: #f44336;
    cursor: pointer;
    font-size: 25px;
   
}
.cont-container{
    height: 64px;
    padding-top: 16px;
    
    
}
.cont-upload{
    padding: 8px 9px 8px 9px;
    gap: 24px;
    
}

#courseTitle{
    width: 403px;
}
#managementBy{
    width: 202px;
}