* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4f5f7;
  margin: 0;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  padding: 48px 16px;
  background-color: #e8eff5;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 72px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .arrow-left {
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.menu-item,
.arrow-right {
  display: flex;
  align-items: center;
  width: 208px;
  height: 40px;
  padding: 8px 0;
  gap: 8px;
  color: #6b6b6b;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s;
}

.menu-item img,
.arrow-right img {
  width: 24px;
  height: 24px;
}

.sidebar.collapsed .menu-item img,
.arrow-right img {
  margin-left: 6px;
}

.menu-item span,
.arrow-right span {
  transition: opacity 0.3s;
}

.menu-item.selected {
  background-color: #FDFDFD;
  border-radius: 8px;
  color: #194062;
}


.menu-item.selected img {
  filter: invert(31%) sepia(74%) saturate(639%) hue-rotate(185deg) brightness(92%) contrast(91%);
}

.sidebar.collapsed .menu-item span,
.sidebar.collapsed .arrow-right span {
  opacity: 0;
  visibility: hidden;
}

.sidebar.collapsed .menu-item,
.sidebar.collapsed .arrow-right {
  border-radius: 8px;
  color: #194062;
  width: 37px;
}

.sidebar.collapsed .arrow-right {
  cursor: pointer;
  border: none;
  background: transparent;
}

.sidebar.collapsed .menu-item.selected {
  background-color: #FDFDFD;
  border-radius: 8px;
  color: #194062;
  width: 37px;
}

.arrow-right {
  display: none;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 19px;
  transition: opacity 0.3s;
  gap: 8px;
}

.sidebar.collapsed .footer-info {
  opacity: 0;
  visibility: hidden;
}