* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #E8EFF5;
  padding: 48px 0px 48px 16px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
}

.up {
  height: 168px;
  padding-top: 6px;
}

.back {
  margin-left: 32px;
  display: flex;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  color: #6B6B6B;
  display: flex;
  gap: 8px;
}

.sidebar li {
  display: flex;
  padding-top: 24px;
}

.dash-icon {
  cursor: pointer;
  display: flex;
}
.end {
  margin-top: 252px;
  padding-top: 24px;
}

.profile {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  line-height: 18.75px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  display: block;
  color: #1F507A;
  gap: 8px;
  line-height: 18.75px;
}

.email {
  color: #6B6B6B;
  font-size: 14px;
  padding-top: 8px;
}

.admin-prof {
  margin-left: 8px;
}

.up:active {
  color: #2C6DA4;
}

.reports a:active {
  color: #2C6DA4;
  background-color: #fff;
  width: 200px;
}

.contentmanag a:active {
  color: #2C6DA4;
  background-color: #fff;
  width: 200px;
}

.usermanag a:active {
  color: #2C6DA4;
  background-color: #fff;
  width: 200px;
}

.search-bar-container {
  padding: 40px;
  background-color: #fff;
}

.inpt1 {
  width: 1220px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

form {
  position: relative;
}

.btn-ser {
  position: absolute;
  top: 12px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  color: #757575;
  background-color: #ffffff;
  font-size: 16px;
}