@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4f5f7;
  margin: 0;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 100;
  width: 240px;
  height: 100vh;
  padding: 48px 16px;
  background-color: #e8eff5;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 72px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .arrow-left {
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: none;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.menu-item,
.arrow-right {
  display: flex;
  align-items: center;
  width: 208px;
  height: 40px;
  padding: 8px 0;
  gap: 8px;
  color: #6b6b6b;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s;
}

.menu-item img,
.arrow-right img {
  width: 24px;
  height: 24px;
}

.sidebar.collapsed .menu-item img,
.arrow-right img {
  margin-left: 6px;
}

.menu-item span,
.arrow-right span {
  transition: opacity 0.3s;
}

.menu-item.selected {
  background-color: #FDFDFD;
  border-radius: 8px;
  color: #194062;
}


.menu-item.selected img {
  filter: invert(31%) sepia(74%) saturate(639%) hue-rotate(185deg) brightness(92%) contrast(91%);
}

.sidebar.collapsed .menu-item span,
.sidebar.collapsed .arrow-right span {
  opacity: 0;
  visibility: hidden;
}

.sidebar.collapsed .menu-item,
.sidebar.collapsed .arrow-right {
  border-radius: 8px;
  color: #194062;
  width: 37px;
}

.sidebar.collapsed .arrow-right {
  cursor: pointer;
  border: none;
  background: transparent;
}

.sidebar.collapsed .menu-item.selected {
  background-color: #FDFDFD;
  border-radius: 8px;
  color: #194062;
  width: 37px;
}

.arrow-right {
  display: none;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.logout-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 19px;
  transition: opacity 0.3s;
  gap: 8px;
}

.footer-info .name{
  color: #194062;
  font-size: 16px;
  font-weight: 600;
}
.footer-info .email{
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
}

.sidebar.collapsed .footer-info {
  opacity: 0;
  visibility: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 240px;
  transition: margin-left 0.3s;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 12px;
  background: white;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px;
  font-size: 16px;
}

.search-bar .icon {
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

/* The tools up the table */
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-group label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.search-icon {
  position: absolute;
  left: 7px;
  width: 16px;
  height: 16px;
}

.form-group input {
  padding: 8px;
  height: 31px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 10px 10px 30px; /* Extra left padding for SVG */
}

#course-title {
  width: 400px;
}

.upload-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Table */
.table-container {
  min-height: 200px;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #fefefe;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #ffff;
  font-weight: bold;
  color: #2C6DA4;
  position: sticky;
  top: 0;
  z-index: 2;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table tbody tr:nth-child(even) {
  background-color: #ffff;
  /* color of the odd rows */

}

table tbody tr:nth-child(odd) {
  background-color: #E8EFF5;
  /* color of the odd rows */

}

.edit-action,
.delete-action {
  width: Fixed (32px)px;
  height: Fixed (32px)px;
  padding: 4px 0px 0px 0px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  cursor: pointer;
}

.actions {
  padding: 5px;
}

/* Dashboard Style */
.stats-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.stat-box {
  width: 30%;
  padding: 16px 24px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

.stat-box h3,
.stat-box p {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Actions Section */
.actions-container {
  height: auto;
  padding: 0px 16px;
}

.actions-container h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.buttons-wrapper {
  display: flex;
  padding-left: 16px;
  gap: 24px;
}

.action-button {
  background-color: #2c6da4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Content Section */
.content-container {
  margin-top: 20px;
  padding: 16px;
}

.cards-wrapper {
  width: 100%;
  margin-left: -10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.content-card {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-card .image-card {
  margin-bottom: -35px;
}

.content-card .text-card {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-card h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 13px;
}

.content-card p {
  font-size: 18px;
  font-weight: 400;
  color: #656565;
}

/* Progress-bar */
.progress-container {
  width: 125px;
  height: 19px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #2c6da4;
  /* Blue border */
  display: flex;
  align-items: center;
  padding: 1px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  /* Adjust for different progress levels */
  background: linear-gradient(to right, #ff7501 30%, #dfb441 70%, #52d060 100%);
  border-radius: 50px;
  border: 1.5px solid #2c6da4
}

.progress-text {
  font-size: 14px;
  font-weight: bold;
  color: green;
  margin-left: 10px;
}