body {
  margin: 0;
  background: #f9f9f9;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.back-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.create-quiz-btn {
  background-color: #2C6DA4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.quiz-info {
  flex: 1;
}

.quiz-card h3 {
  margin-top: 0;
  color: #333;
}

.quiz-card p {
  margin: 8px 0;
  color: #555;
}

.quiz-card .desc {
  font-size: 14px;
  color: #777;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.regrade-quiz-btn {
  background-color: #ffffff;
  color: #B71C1C;
  border: 1px #B71C1C solid;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.view-quiz-btn, .join-quiz-btn ,.review-quiz-btn {
  background-color: #ffffff;
  color: #2C6DA4;
  border: 1px #2C6DA4 solid;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.quiz-card .not-available {
  background-color: #FCFCFC;
  color: #757575;
  border-color: #757575;
  cursor: not-allowed;
}


.no-quizzes {
  text-align: center;
  padding: 20px;
  color: #666;
}

.error-message {
  color: #dc3545;
  padding: 20px;
  text-align: center;
}

.quiz-card[data-quiz-id] {
  transition: transform 0.2s;
}

.quiz-card[data-quiz-id]:hover {
  transform: translateY(-3px);
}