* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
   
}
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #E8EFF5;
    padding: 48px 0px 48px 16px  ;
    border-radius:  0px 20px 20px 0px;
    display: flex;
    flex-direction: column;  
   
}
.logo{
    display: flex;
}
.up{
    height: 168px;
    padding-top:6px;
    
}
.back{
    margin-left: 32px;
    display: flex;
}
.sidebar ul li  {
    list-style: none;
    
   
}
.sidebar ul li a{
    text-decoration: none;
    color: #6B6B6B;
    display: flex;
    gap: 8px;
}
.sidebar li  {
     
    display: flex;
    padding-top:24px ;
}
.dash-icon {
   cursor: pointer;
    display: flex;  
}
.end{
    margin-top:252px ;
    padding-top: 24px;
}
.profile {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    line-height: 18.75px;
}
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;    
}
.name{
    display: block;
    color: #1F507A;
    gap: 8px;
    line-height: 18.75px;
}
.email{
    color: #6B6B6B;
    font-size: 14px;
    padding-top: 8px;
}
.admin-prof{
    margin-left:8px ;
}
.up:active{
    color:#2C6DA4;
}
.reports a:active{
    color: #2C6DA4;
    background-color: #fff;
    width: 200px;  
}
.contentmanag a:active{
    color: #2C6DA4;
    background-color: #fff;
    width: 200px;  
}
.usermanag a:active{
    color: #2C6DA4;
    background-color: #fff;
    width: 200px;  }

.search-bar-container {
    padding: 40px;
    background-color: #fff;
}
.inpt1 {
    width: 1220px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 16px;
}
form{
position: relative;
}
.btn-ser{
    position: absolute;
    top: 12px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    color: #757575;
    background-color:#ffffff;
    font-size: 16px;
}
.dash-container {
    width: 1220px;
    height: 124px;
    margin-top: 60px;
    display: flex;
    gap: 23px; 
    overflow: auto;
}
.num-admin, .num-instructor, .num-student {
    height: 124px;
    border: 1px solid none;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    color: #fff;
   font-size: 32px;
   font-weight: 600px;
   line-height: 37.5px;
   margin: auto;
}
.num-admin{
    width: 336px;
    background-color:#173957;
}
.num-instructor{
    width: 373px;
    background-color: #2C6DA4;
}
.num-student{
    width: 356px;
    background-color: #43A5FA;
}
.all{
    font-size: 28px;
    color: #000000;
    line-height: 32.8px;
    font-weight: 600px;
    margin-top: 32px;
}
.buttons{
    width: 1220px;
    height: 32px;
    margin-top: 32px;
    display: flex;
    gap: 24px;

}
.btn-a,.btn-b,.btn-c{
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700px;
    display: flex;
    gap: 8px;
    border:none ;
    padding: 8px 12px 8px 12px;
    background-color: #2C6DA4;
    border-radius: 8px;
    color: #fff;

}
.btn-a{
    width: 106px;
    height: 32px;
    margin-left: 16px;
    
    
}
.p-num{
    text-align: center;
    padding-top: 16px;
}